NODE_ENV=example
PORT=3000
APP_VERSION=""

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret
REDIS_KEYPREFIX=ecom:example:
REDIS_DB=0

# DB CONFIG // Warning: Turn this off in production
IS_DB_SYNCHRONIZE=false

JWT_PRIVATE_KEY="<paste-your-rsa-pem>"
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=7d

# Logging
LOG_LEVEL=info

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password
DB_DATABASE=my_database

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173