CI_DB_USERNAME=example
CI_DB_PASSWORD=example
CI_DB_DATABASE=example
CI_REDIS_PASSWORD=example
CI_REDIS_KEYPREFIX=ecom:example:
CI_JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvAIB...-----END PRIVATE KEY-----"
