services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rb@dev.123
      POSTGRES_DB: rbdatabase
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - '6379:6379'
      - '8001:8001'
    environment:
      - REDIS_ARGS=--requirepass dev123 --appendonly yes
    volumes:
      - redis_data:/data
    restart: always

volumes:
  postgres_data:
  redis_data:
